// استيراد خط Cairo
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap&subset=arabic');

// تطبيق الخط الجديد
:root {
  --font-family-base: "Cairo", sans-serif;
  --font-family-monospace: "Cairo", monospace;
}

body {
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
}
