@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap&subset=arabic');

:root {
  --font-family-base: "Cairo", sans-serif !important;
  --font-family-heading: "Cairo", sans-serif !important;
}

body {
  font-family: "Cairo", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: "Cairo", sans-serif !important;
}
