<header class="site-header">
  <nav class="navbar">
    <div class="container">
      <!-- الشعار -->
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
      </a>
      
      <!-- القائمة الرئيسية -->
      <ul class="nav">
        {% for item in site.data.navigation.main %}
          {% if item.dropdown %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ item.url | relative_url }}">
                <i class="{{ item.icon }}"></i> {{ item.name }}
              </a>
              <ul class="dropdown-menu">
                {% for subitem in item.dropdown %}
                  <li>
                    <a class="dropdown-item" href="{{ subitem.url | relative_url }}">
                      {{ subitem.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url | relative_url }}">
                <i class="{{ item.icon }}"></i> {{ item.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
